## exporting functions

## SSbgf.R
export(bgf)
export(SSbgf)
export(bgf2)

## logis.R
export(logis)

## exponential.R
export(exp1)
export(exp2)

## Nlai.R
export(Nlai)

## richards.R
export(rich)
export(gompertz)
